body {
    font-family: Arial, sans-serif;
    background-image: url('../img/2110674.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 80vw;
}
main h1 {
    padding: 10px;
    text-align:left;
    margin-top: 80vw;
    color: #fff;
    background-color: black;
}
table {
    padding: 10px;
    text-align:left;
    color: #fff;
    background-color: black;
}